<div class="chat" *ngIf="chat">
  <div class="header" [ngClass]="{'open': isOpen}">
    <h3>{{chat.friend.username}}</h3>
  </div>
  <div class="content" [ngClass]="{'open': isOpen}">
    <div class="messages-container">
      <div *ngFor="let message of chat.messages" class="message-container">
        <div class="message" [ngClass]="{'self': isSelf(message), 'friend': !isSelf(message)}">
          {{message.content}}
        </div>
      </div>
    </div>

    <div class="input-container">
      <input placeholder="Search username" class="search-input" [(ngModel)]="nextMessage"
             (keyup.enter)="send()">
      <mat-icon class="user-icon" (click)="send()">send</mat-icon>
    </div>
  </div>
</div>
