.profile-header-container {
  width: 100%;
  padding: 2vh 16px 1vh;
  box-sizing: border-box;
  height: calc(3vh + 90px);
  background: #ccc0cc;

  .title{
    font-size: 30px;
    font-weight: bold;
    color: #23313F;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    //box-shadow: rgb(0 0 0 / 15%) 0 0 5px;

    .actions-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
    }

    p {
      margin: 0;
      font-size: 20px;
    }

    .action-button {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 18px;
        color: #23313F;
        margin: 0 0 0 5px;
      }

      button.small {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease .25s;

        &:hover {
          background: rgba(0, 0, 0, .05);
        }

        mat-icon {
          font-size: 16px;
        }

      }
    }
  }
}
